@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --dark-gray: hsl(0, 0%, 63%);
  --very-dark-gray: hsl(0, 0%, 27%);

  font-family: "League Spartan", sans-serif;
}
body {
  background: black;
}
.top {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0px;
}
.bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 0;
}
.hero {
  position: relative;
  width: 840px;
}
.hero-images {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}
.hero img:not(.logo, .close, .menu) {
  height: 100%;
}
.nav-text {
  width: 245px;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 183px;
  display: flex;
  position: absolute;
  top: 0;
  color: var(--white);
}
.nav-text p {
  position: relative;
  padding-bottom: 10px;
  text-transform: lowercase;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.nav-text p span {
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 2px solid white;
  transition: 0.3s;
}
.nav-text p:hover span {
  width: 50%;
}
.logo {
  margin-top: 60px;
  margin-left: 65px;
  position: absolute;
  top: 0px;
  display: block;
}
.hero-text {
  position: relative;
  background: var(--white);
  width: 600px;
}
.hero-texts {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  width: 100%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}
.text {
  width: 400px;
  margin: 120px 100px 0px 100px;
}
.text h1 {
  font-size: 45px;
  font-weight: 600;
}
.text p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark-gray);
  margin-top: 30px;
}
.text h4 {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.text h4:hover {
  color: var(--dark-gray);
}
.text h4 svg path {
  transition: 0.3s;
}
.text h4:hover svg path {
  fill: var(--dark-gray);
}
.arrow-left,
.arrow-right {
  position: absolute;
  bottom: 0;
  background: black;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.arrow-right {
  left: 80px;
}
.arrows > *:hover {
  background: var(--very-dark-gray);
}
.bottom section {
  width: 580px;
  background: var(--white);
}
.image-left img {
  width: 420px;
}
.image-right img {
  width: 440px;
}
.image-left img,
.image-right img {
  height: 100%;
}
.about-text {
  width: 480px;
  margin: 0px auto;
  margin-top: 68px;
}
.about-text h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
}
.about-text p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--dark-gray);
}
.menu,
.close {
  cursor: pointer;
  display: none;
}
.attribution {
  font-size: 12px;
  padding: 20px;
  color: var(--white);
  text-align: center;
  /* background: white; */
}
.attribution a {
  text-decoration: none;
  color: hsl(35, 56%, 50%);
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .dark-back {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
  }
  .top {
    display: block;
  }
  .bottom {
    grid-template-columns: none;
  }
  .hero {
    width: 100%;
  }
  .hero1 {
    content: url(./images/mobile-image-hero-1.jpg);
  }
  .hero2 {
    content: url(./images/mobile-image-hero-2.jpg);
  }
  .hero3 {
    content: url(./images/mobile-image-hero-3.jpg);
  }
  .hero img:not(.logo, .close, .menu) {
    width: 100%;
  }
  .logo {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    margin-top: 50px;
  }
  .hero-texts {
    place-items: center;
    width: 100%;
  }
  nav {
    position: fixed;
    display: flex;
    /* color: var(--black); */
    background: var(--white);
    margin-top: 0px;
    top: 0;
    margin-left: 0;
    width: 100%;
    /* justify-content: center; */
    align-content: center;
    z-index: 2;
    overflow-y: hidden;
    transition: 0.3s;
    height: 100px;
    height: 0;
  }
  .nav-text {
    margin-top: 0;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black);
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
    position: absolute;
    right: 25px;
  }
  .nav-text p {
    padding-bottom: 0;
  }
  .close {
    display: block;
    position: absolute;
    left: 25px;
    align-self: center;
  }
  .menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 25px;
  }
  .arrow-left,
  .arrow-right {
    top: -56px;
    right: 56px;
    width: 56px;
    height: 56px;
  }
  .arrow-right {
    left: calc(100% - 56px);
  }
  .hero-text {
    width: 100%;
  }
  .text {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  .text h1 {
    font-size: 35px;
  }
  .text h4 {
    font-weight: 600;
  }
  .image-left img,
  .image-right img,
  .about-text {
    width: 100%;
  }
  .bottom section {
    width: 100%;
  }
  .about-text {
    margin-top: 50px;
    margin-bottom: 45px;
    width: 85%;
  }
  .about-text h3 {
    font-size: 1rem;
  }
}
